
@{
    ViewBag.Title = "Definition";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

<div class="wrapper">
    <div class="container" style="margin-top: 38px;">
        <div class="content">
            <h1 style="text-align:center;padding-bottom: 0px;font-weight: bold;">
                Definition
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;">
                The term Subscriber would include any person, whether an individual or a legal entity who has subscribed to the Services of Sair-O-Siyahat (whether on a paid or free basis), and to whom the access to Sair-O-Siyahat is restricted by the use of a sign in user name and a password. The user name and password are either allotted by Sair-O-Siyahat or chosen by the Subscriber or agreed upon by Sair-O-Siyahat. It is made abundantly clear that only the authorized User has the right to access the Services so offered by Sair-O-Siyahat.
                <br /><br />
                The term Browser/Visitor/Guest will mean and include a person who utilizes any of the Services offered by Sair-O-Siyahat, without the need or a requirement to create an account i.e. visits non-restricted portions of Sair-O-Siyahat.
                <br /><br />
                The use and access to Sair-O-Siyahat shall be subject to these terms and conditions. For the purposes of this Agreement, any person who does not have a legal or a contractual right to access the Services, but does so, will fall within the definition of an 'un authorized user' and will nevertheless be subject to the terms and conditions regulating the usage of Sair-O-Siyahat, and expressly so with respect to respecting the intellectual advertisement  rights of the Sair-O-Siyahat, and abiding by terms and conditions below mentioned.
                <br /><br />
                The terms 'User' and 'Customer' would include both the Subscriber/Advertiser(s) and Browser/Visitor(s)
                The terms 'Service' or 'Services' would mean to include the interactive online information service offered by Sair-O-Siyahat on the internet through which the user may access information carried by Sair-O-Siyahat in the database maintained by it. The terms would also include meaning the search tools through which the User can search through the hosted databases and information using a number of search tools that are present with a selection matching their search criteria. The term would also include services by way of space used by customers for advertisements such as listings and banners. Users then select one or more of the items presented to view the full document/ record. The term Service does not extend to Sair-O-Siyahat acting as an agent either express or implied on behalf of any User/Customer and is merely acting as a medium of information exchange.
            </p>
            <h1 style="text-align:center;padding-bottom: 0px;margin-top:85px;font-weight: bold;">
                SUBMISSION AND ADMINISTRATION OF LISTINGS/ADVERTISEMENTS
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;">
                Any User agrees not to submit any advertisement  descriptions, photographs, financial, contact or other information contained in each advertisement 's data to Sair-O-Siyahat unless the User submitting such a Listing/Advertisement has acquired received all necessary rights and authorizations from the owner of such advertisement  or the power-of-attorney holder, including from the photographer and/or copyright owner of any photographs, to publish and advertise the said Advertisement (s) on Sair-O-Siyahat. Similarly, Sair-O-Siyahat doesn’t take any ownership, directly or indirectly towards any person whatsoever, with respect to banners hosted on its website by its customers, which are strictly in the nature of sale of space by Sair-O-Siyahat & it has not carried out any independent verification on the authenticity or compliance requirements, as may have been required under any law for the time being in force, of such images/ banners/ listings. The User in addition shall furnish a brief background of such advertisement  in respect of title, ownership and possession, Sair-O-Siyahat may also require the User to support his/her claims with respect to the status of the advertisement  with such documents as may be specified by it from time to time. The User may further be required to substantiate his claims as to the nature and status of the advertisement by swearing an affidavit stating the authenticity of the information/data so provided/displayed. Sair-O-Siyahat may, at its sole discretion but without any obligation to, search for such and remove advertisements that are alleged to have been submitted in violation of this provision. In addition, Sair-O-Siyahat may require additional evidence of compliance with this provision from Users who are alleged to have submitted advertisements or other information/data in violation of these terms and conditions. Sair-O-Siyahat will, in its sole discretion, terminate the accounts of, and refuse Service to, any User who repeatedly or intentionally violates these terms and conditions. Additionally, the User agrees to allow the Advertisement  listing, or any part of it, to be searched, displayed, accessed, downloaded, copied, and otherwise referred to by users of the User's website or the Sair-O-Siyahat website. Sair-O-Siyahat shall have the sole authority to choose the manner in which any Advertisement  will be searched, displayed, accessed, downloaded, copied, and otherwise used on Sair-O-Siyahat and Sair-O-Siyahat shall have the right to modify the advertisement  listing in the exercise of its rights under these terms and conditions. In addition to the terms aforementioned the User agrees
                <br /><br />
                1. to represent and warrant that all advertisements and associated information provided by the User will be accurate;
                <br /><br />
                2. that the User will not permit the posting of an advertisement  on Sair-O-Siyahat under a name other than the name of  user who has been duly authorized and engaged by the owner of the advertisement  in this regard;
                <br /><br />
                Sair-O-Siyahat shall place the information relating to advertisements at defined sections of Sair-O-Siyahat or such other mirror or parallel site(s). Sair-O-Siyahat reserves, in a manner consistent with reasonable commercial business practices, the right to remove all or any part of the Advertisements posted on the User's website or on Sair-O-Siyahat without notice. Sair-O-Siyahat accepts no responsibility for checking/verifying the accuracy of reports or data files submitted by the User. While Sair-O-Siyahat shall take all reasonable efforts for data backup and business resumption, the User will be solely responsible for retaining back-up copies of all information, photographs and other materials furnished/submitted to Sair-O-Siyahat.
                <br /><br />
                Users, who are buying/renting advertisement /advertisements through Sair-O-Siyahat, must verify details the advertisement /advertisements as well as its right, title, ownership, lien etc. on their own.
            </p>
        </div>
    </div>
</div>


