
@{
    ViewBag.Title = "Limitation";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

<div class="wrapper">
    <div class="container" style="margin-top: 38px;">
        <div class="content">
            <h1 style="text-align:center;padding-bottom: 0px;font-weight: bold;">
                LIMITATION OF LIABILITY
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;margin-bottom:12px">
                Sair-O-Siyahat Pvt. Limited will not be liable for any damages of any kind arising out of or relating to the use or the inability to use Sair-O-Siyahat, its content or links, including but not limited to damages caused by or related to errors, omissions, interruptions, defects, delay in operation or transmission, computer virus, line failure and all other direct, indirect, special, incidental, punitive, loss of profit, exemplary or consequential damages whether based on warranty, contract, tort or any other legal theory including Force Majeure, and whether or not, such organizations or entities were intimated or advised of the possibility of such damages.
            </p>
            <p style="color:#949494;margin-bottom:12px">
                Sair-O-Siyahat Pvt. Limited assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communication line failure, theft or destruction or unauthorized access to or alteration of User's data/information. Sair-O-Siyahat Pvt. Limited shall not be responsible for any problem or technical malfunction on-line-systems, servers or providers, computer equipment, software, failure of e-mail or players on account of technical problem or traffic congestion on the Internet or at any website or combination thereof, including injury or damage to any User and/or Members or to any other person's computer related to or resulting from participating or downloading materials/information from the website.
            </p>
            <p style="color:#949494;margin-bottom:12px">
                Unless otherwise specified and notwithstanding anything contained in any other agreement or arrangement, by whatever name called, the performance obligation of Sair-O-Siyahat Pvt. Limited (service provider) is to provide access of its on-line portal to the customer for the duration of the subscription period & reference to any usage, by whatever name called or any other performance obligation, if any, is to provide the upper limit for consumption, which by itself, does not create any additional performance obligation upon Sair-O-Siyahat Pvt. Limited.
            </p>
        </div>
    </div>
</div>


