
@{
    ViewBag.Title = "PaymentTerm";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

<div class="wrapper">
    <div class="container" style="margin-top: 38px;">
        <div class="content">
            <h1 style="text-align:center;padding-bottom: 0px;font-weight: bold;">
                Payment Terms
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;">
                Payments for the Services offered by Sair-O-Siyahat shall be on a 100% advance basis. The payment for Service once subscribed to by the subscriber is not refundable and any amount paid shall stand appropriated. Refund if any will be at the sole discretion of Sair-O-Siyahat (Pvt) Ltd. Sair-O-Siyahat offers no guarantees whatsoever for the accuracy or timeliness of the refunds reaching the Users card/bank accounts. User acknowledges and agrees that Sair-O-Siyahat / Sair-O-Siyahat, at its sole discretion and without prejudice to other rights and remedies that it may have under the applicable laws, shall be entitled to set off the amount paid or payable by a subscriber/user against any amount(s) payable by User to Sair-O-Siyahat under any other agreement or commercial relationship towards other products/services. Sair-O-Siyahatltants & Associates (Pvt) Ltd. gives no guarantees of server uptime or applications working properly. All is on a best effort basis and liability is limited to refund of amount only. Sair-O-Siyahat (Pvt) Ltd. undertakes no liability for free Services. Sair-O-Siyahat (Pvt) Ltd. reserves its right to amend / alter or change all or any disclaimers or terms of agreements at any time without any prior notice. All terms / disclaimers whether specifically mentioned or not shall be deemed to be included if any reference is made to them.
                <br /><br />
                Sair-O-Siyahat (Pvt) Ltd uses the maximum care as is possible to ensure that all or any data / information in respect of electronic transfer of money does not fall in the wrong hands. For completing online transactions involving payments a user is directed to a Sair-O-Siyahat Pvt. Limited shall not be liable for any loss or damage sustained by reason of any disclosure (inadvertent or otherwise) of any information concerning the user's account and / or information relating to or regarding online transactions using credit cards / debit cards and / or their verification process and particulars nor for any error, omission or inaccuracy with respect to any information so disclosed and used whether or not in pursuance of a legal process or otherwise.
                <br /><br />
                If you utilize Sair-O-Siyahat in a manner inconsistent with these terms and conditions, Sair-O-Siyahat Pvt. Limited may terminate your access, block your future access and/or seek such additional relief as the circumstances of your misuse may be deemed to be fit and proper.
            </p>
        </div>
    </div>
</div>


