
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

<div class="wrapper">
    <div class="container" style="margin-top: 38px;">
        <div class="content">
            <h1 style="text-align:center;padding-bottom: 0px;font-weight: bold;">
                Privacy Policy
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;margin-bottom:12px">
                The user of Sair-O-Siyahat is subject to Sair-O-Siyahat Privacy Policy (<a style="color: blue;cursor: pointer;" href=""><u>http://Sair-O-Siyahat/privacy-policy</u></a>)
            </p>

            <h1 style="margin-top:85px;text-align:center;padding-bottom: 0px;font-weight: bold;">
                ARBITRATION
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;margin-bottom:12px">
                If any dispute arises between a user/users and Sair-O-Siyahat Pvt. Limited arising out of use of the website or thereafter, in connection with the validity, interpretation, implementation or alleged breach of any provision of these terms and conditions, the dispute shall be referred to a sole Arbitrator who shall be an independent and neutral third party identified by Sair-O-Siyahat Pvt. Limited L. Decision of the Arbitrator shall be final and binding on both the parties to the dispute. The place of arbitration shall be Lahore.
            </p>

            <h1 style="margin-top:85px;text-align:center;padding-bottom: 0px;font-weight: bold;">
                SEVERABILITY OF PROVISIONS
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;margin-bottom:12px">
                THIS AGREEMENT between you and Sair-O-Siyahat Pvt. Limited governs your use of Sair-O-Siyahat. If any provision of these Sair-O-Siyahat terms and conditions or part thereof is inconsistent with or is held to be invalid/void by or under any law, rule, order or regulation of any Government or by the final adjudication of any court, such inconsistency or invalidity shall not affect the enforceability of any other provision of the terms and conditions.
            </p>

            <h1 style="margin-top:85px;text-align:center;padding-bottom: 0px;font-weight: bold;">
                WAIVER
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;margin-bottom:12px">
                The failure of Sair-O-Siyahat Pvt. Limited to exercise or enforce any right or provision of the terms and conditions of use shall not constitute a waiver of its right to enforce such right or provision subsequently.
            </p>

            <h1 style="margin-top:85px;text-align:center;padding-bottom: 0px;font-weight: bold;">
                GOVERNING LAW
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;margin-bottom:12px">
                By accessing Sair-O-Siyahat you agree that the laws prevailing in Pakistan shall be the governing laws in all matters relating to Sair-O-Siyahat as well as these terms and conditions.
            </p>

            <h1 style="margin-top:85px;text-align:center;padding-bottom: 0px;font-weight: bold;">
                JURISDICTION
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;margin-bottom:12px">
                Courts at Lahore, Pakistan alone shall have the exclusive jurisdiction in all matters relating to Sair-O-Siyahat and these terms and conditions, irrespective of the territory and jurisdiction of your access to Sair-O-Siyahat.
            </p>
            <p style="color:#949494;margin-bottom:12px">
                Sair-O-Siyahat Pvt. Limited does not routinely monitor your postings to the web site but reserves the right to do so. However, if Sair-O-Siyahat Pvt. Limited becomes aware of an inappropriate use of Sair-O-Siyahat or any of its Services, Sair-O-Siyahat Pvt. Limited will respond in any way that, in its sole discretion, Sair-O-Siyahatltants & Associates Pvt. Limited deems appropriate. You acknowledge that Sair-O-Siyahat Pvt. Limited will have the right to report to law enforcement authorities any actions that may be considered illegal, as well as any information it receives of such illegal conduct. When requested, Sair-O-Siyahat Pvt. Limited will co-operate fully with law enforcement agencies in any investigation of alleged illegal activity on the Internet.
            </p>
            <p style="color:#949494;margin-bottom:12px">
                Sair-O-Siyahat Pvt. Limited reserves all other rights.
            </p>

            <h1 style="margin-top:85px;text-align:center;padding-bottom: 0px;font-weight: bold;">
                VIOLATIONS
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;margin-bottom:12px">
                Please report any violations of these terms and conditions to Sair-O-Siyahat Pvt. Limited at <a style="color: blue;cursor: pointer;" href=""><u>info@Sair-O-Siyahat</u></a>
            </p>
        </div>
    </div>
</div>

