
@{
    ViewBag.Title = "Restriction";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

<div class="wrapper">
    <div class="container" style="margin-top: 38px;">
        <h1 style="text-align:center;padding-bottom: 0px;font-weight: bold;">
            Restrictions And Prohibitions
        </h1>
        <hr style="margin-top: 0px;" />
        <div class="content">
            <p style="color:#949494;">
                <span style="font-weight: bold;color:#666666;">
                    You hereby expressly agree not to:
                </span>
                <br />
                <ol style="padding-left: 27px;">
                    <li style="list-style:decimal;">
                        Utilize the Services offered by Sair-O-Siyahat in any manner so as to impair the interests and functioning of Sair-O-Siyahat Pvt. Limited /Sair-O-Siyahat and which is non-compliant with laws and regulations.
                    </li>
                    <li style="list-style:decimal;">
                        Access data not intended for you or log into server or account that you are not authorized to access;
                    </li>
                    <li style="list-style:decimal;">
                        Attempt to probe, scan or test the vulnerability of a system or network;
                    </li>
                    <li style="list-style:decimal;">
                        Attempt or breach security or authentication measures without proper authorization;
                    </li>
                    <li style="list-style:decimal;">
                        Attempt to interfere with, access to any other user including but not limited to by submitting a virus of any kind or Trojan horse to Sair-O-Siyahat Pvt. Limited, overloading, Flooding, mail bombing or crashing;
                    </li>
                    <li style="list-style:decimal;">
                        Copy, distribute, download, display, perform, reproduce, modify, edit, alter, enhance, broadcast or tamper with in any way or otherwise use any material contained in Sair-O-Siyahat except as permitted;
                    </li>
                    <li style="list-style:decimal;">
                        Copy and distribute this information on any other server, or modify or re-use information, text, graphics, sound, etc. on Sair-O-Siyahat to any other system. No reproduction of any part of Sair-O-Siyahat may be sold or distributed for commercial gain nor shall it be modified or incorporated in any other work, publication or Sair-O-Siyahat, whether in hard copy or electronic format, including postings to any other Sair-O-Siyahat; or
                    </li>
                    <li style="list-style:decimal;">
                        Remove any copyright, trade mark or other intellectual advertisement notices contained in the original material from any material copied or printed off from Sair-O-Siyahat or link to Sair-O-Siyahat, without our express written consent.
                    </li>
                    <li style="list-style:decimal;">
                        The user shall not utilize the Services offered by Sair-O-Siyahat in any manner so as to impair the interests and functioning of Sair-O-Siyahat Pvt. Limited /Sair-O-Siyahat. The user undertakes not to duplicate, download publish, modify and distribute material on Sair-O-Siyahat unless specifically authorized by Sair-O-Siyahat Pvt. Limited in this regard. The user undertakes not to establish any deep link or other connection to any specific page of Sair-O-Siyahat other than the Home Page without obtaining prior consent of Sair-O-Siyahat Pvt. Limited. Sair-O-Siyahat Pvt. Limited strictly forbids copying, duplicating web pages or content using any automated process such as spiders, crawlers etc. or through any manual process for a purpose which has not been authorized in writing.
                    </li>
                    <li style="list-style:decimal;">
                        users undertake that the Services offered by Sair-O-Siyahat shall not be utilized to upload, post, email, transmit or otherwise make available either directly or indirectly, unsolicited bulk e-mail or unsolicited commercial e-mail. Sair-O-Siyahat Pvt. Limited is not obligated to but reserves the right to filter and monitor and block the emails sent by you/user using the servers to maintained by Sair-O-Siyahat Pvt. Limited to relay emails. All attempts shall be made by Sair-O-Siyahat Pvt. Limited and the user to abide by International Best Practices in containing and eliminating Spam.
                    </li>
                </ol>
                    <br /><br />
                <span style="font-weight: bold;color:#666666;">
                    The User / subscriber / visitor to Sair-O-Siyahat or affiliated site(s) is prohibited from uploading, posting, transmitting, updating or sharing any information that:
                </span>
                <ol style="padding-left: 27px;">
                    <li style="list-style:decimal;">
                        belongs to another person and to which the user does not have any right to;
                    </li>
                    <li style="list-style:decimal;">
                        is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever;
                    </li>
                    <li style="list-style:decimal;">
                        harm minors in any way;
                    </li>
                    <li style="list-style:decimal;">
                        infringes any patent, trademark, copyright or other proprietary rights;
                    </li>
                    <li style="list-style:decimal;">
                        violates any law for the time being in force;
                    </li>
                    <li style="list-style:decimal;">
                        deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;
                    </li>
                    <li style="list-style:decimal;">
                        impersonate another person;
                    </li>
                    <li style="list-style:decimal;">
                        contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource;
                    </li>
                    <li style="list-style:decimal;">
                        Threatens the unity, integrity, defence, security or sovereignty of Pakistan, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation.
                    </li>
                </ol>
                <br />
                <span style="font-weight: bold;color:#666666;">
                      Violations of system or network security may result in civil or criminal liability.
                </span>    
            </p>
        </div>
    </div>
</div>


