
@{
    ViewBag.Title = "Terms And Conditions";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

<div class="wrapper">
    <div class="container" style="margin-top: 38px;">
        <h1 style="text-align:center;padding-bottom: 0px;font-weight: bold;">
            Terms And Conditions
        </h1>
        <hr style="margin-top: 0px;" />
        <div class="content">
            <p style="color:#949494;">
                Sair-O-Siyahatand/or any other website(s) linked to this website is an online information and communications service
                provided to you, subject to your compliance with the terms and conditions set forth below.
                <br /><br />
                PLEASE READ THIS DOCUMENT CAREFULLY. BY ACCESSING OR USING Sair-O-Siyahat, YOU AGREE TO BE BOUND BY THE TERMS AND
                CONDITIONS SET FORTH BELOW. IF YOU DO NOT AGREE WITH ANY OF THESE TERMS AND CONDITIONS, YOU SHOULD NOT ACCESS OR USE
                Sair-O-Siyahat. IF YOU HAVE ANY QUESTIONS ABOUT THESE TERMS, PLEASE CONTACT ( <a style="color: blue;cursor: pointer;" href=""><u>info@Sair-O-Siyahat</u></a> )
                <br /><br />
                Sair-O-Siyahat may amend/modify these terms and conditions at any time, and such modifications shall be effective
                immediately upon posting of the modified terms and conditions on Sair-O-Siyahat. You may review the modified terms
                and conditions periodically to be aware of such modifications and your continued access or use of Sair-O-Siyahat,
                shall be deemed conclusive proof of your acceptance of these terms and conditions, as amended/modified from time to time.
                M/S Sair-O-Siyahat may also suspend the operation of Sair-O-Siyahat for support or technical up gradation,
                maintenance work, in order to update the content or for any other reason.
                <br /><br />
                If you utilize Sair-O-Siyahat in a manner inconsistent with these terms and conditions, Sair-O-Siyahat may terminate your
                access, block your future access and/or seek such additional relief as the circumstances of your misuse may be deemed to
                be fit and proper.
            </p>
        </div>
    </div>
</div>
