
@{
    ViewBag.Title = "UseOfInformation";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

<div class="wrapper">
    <div class="container" style="margin-top: 38px;">
        <div class="content">
            <h1 style="text-align:center;padding-bottom: 0px;font-weight: bold;">
                Use Of Information
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;">
                User agrees to treat all information obtained from the Service, including listings, member directory, and any information otherwise made available to User in the Service ("Content") as proprietary to Sair-O-Siyahat. User agrees that Content reserved for members will be maintained as confidential and shall be protected as a trade secret of Sair-O-Siyahat. Sair-O-Siyahat does not ensure the accuracy of, endorse or recommend any Content and a User uses such Content at the User's own risk. A User may access the listings/advertisements in the Service solely to obtain initial information from which further evaluation and investigation may commence. User shall limit access to and use of listings to personal and internal use, and shall not use listings obtained from the Service for further distribution, publication, public display, or preparation of derivative works or facilitate any of these activities in any way. User shall not use or reproduce any Content that is obtained from the Service, or that is otherwise made available to User in the Service, for or in connection with any other listing/advertising Service or device. User further shall not use the Service provided by the company in any other manner for or in connection with any other listing Service or device. Users violating these specific terms, specifically those Users searching the Service in an abusive or excessive manner, by automated or manual means, shall be subject to immediate termination of their membership without notice.
            </p>
            <h1 style="text-align:center;padding-bottom: 0px;margin-top:85px;font-weight: bold;">
                INTELLECTUAL ADVERTISEMENT RIGHTS
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;">
                All logos, brands, trademarks and Service marks ("Marks") appearing in Sair-O-Siyahat are the advertisements either owned or used under license by Sair-O-Siyahat Pvt. Limited and / or its associates. All rights accruing from the same, statutory or otherwise, wholly vest with Sair-O-Siyahat Pvt. Limited / its associates. The access to Sair-O-Siyahat does not confer upon the User any license or right to use in respect of these Marks and therefore the use of these Marks in any form or manner, whatsoever is strictly prohibited. Any violation of the above would constitute an offence under the prevailing laws of Pakistan.
                <br /><br />
                Sair-O-Siyahat Pvt. Limited respects the Intellectual Advertisement  Rights of all, it has and will continue to adhere to all the laws applicable in Pakistan in this respect. Sair-O-Siyahat Pvt. Limited shall protect and respect the Intellectual Advertisement  Rights of the users as well as third parties to the best of its ability. In a case where a User(s) are found to be using Sair-O-Siyahat as a platform to infringe the Intellectual Advertisement  Rights of others, Sair-O-Siyahat Pvt. Limited will be free to terminate this Agreement forthwith without any notice to the user.
                <br /><br />
                By allowing Users to access Sair-O-Siyahat, Sair-O-Siyahat Pvt. Limited grants the Users a limited, non-exclusive, non-assignable, revocable license (the "License") to access and use the Services, provided that the User is in compliance with the terms and conditions of the Agreement.
            </p>
        </div>
    </div>
</div>


