
@{
    ViewBag.Title = "Warranty";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

<div class="wrapper">
    <div class="container" style="margin-top: 38px;">
        <div class="content">
            <h1 style="text-align:center;padding-bottom: 0px;font-weight: bold;">
                Disclaimer And Warranties
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="margin-bottom:12px;color:#949494;">
                THE CONTENT OF Sair-O-Siyahat IS PROVIDED "AS IS" AND ON AN "AS AVAILABLE" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.
            </p>
            <p style="margin-bottom:12px;color:#949494;">
                Sair-O-Siyahat Pvt. Limited AND ANY THIRD PARTY PROVIDING MATERIALS, SERVICES OR CONTENT TO THIS WEBSITE, DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, STATUTORY OR OTHERWISE INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OF THIRD PARTY RIGHTS, COMPLETENESS OR ACCURACY OF THE INFORMATION, UPDATE OR CORRECTNESS OF THE INFORMATION, FREEDOM FROM COMPUTER VIRUSES, OTHER VIOLATION OF RIGHTS REGARDING SERVICES, PRODUCTS, MATERIAL AND CONTENTS OF Sair-O-Siyahat.
            </p>
            <p style="margin-bottom:12px;color:#949494;">
                Views expressed by the Users are their own, Sair-O-Siyahat Pvt. Limited does not endorse the same and shall not be responsible for them. No claim as to the accuracy and correctness of the information on the site is made although every attempt is made to ensure that the content is not misleading/ offensive/ inappropriate. In case any inaccuracy is or otherwise improper content is sighted on the website, please report it to report abuse.
            </p>
            <p style="margin-bottom:12px;color:#949494;">
                It is solely your responsibility to evaluate the accuracy, completeness and usefulness of all opinions, advice, Services, real estate and other related information listed on the website. Sair-O-Siyahat Pvt. Limited does not warrant that the access to website will be uninterrupted or error-free or that defects in website will be corrected.
            </p>
            <p style="margin-bottom:12px;color:#949494;">
                Sair-O-Siyahat Pvt. Limited offers no guarantee no warrantees that there would be satisfactory response or any response at all, once the listing/banner is put on display. Any payments made to Sair-O-Siyahat Pvt. Limited /Sair-O-Siyahat are solely for the purposes of display of the advertisement  advertised.
            </p>
            <p style="margin-bottom:12px;color:#949494;">
                Users are strongly advised to independently verify the authenticity of any Pre-Launch offers received by them. Sair-O-Siyahat Pvt. Limited does not endorse investment in any projects which have not received official sanction and have not been launched by the Builder/Promoter, users dealing in such projects shall be doing so entirely at their risk and responsibility.
            </p>
            <p style="margin-bottom:12px;color:#949494;">
                No information contained herein shall constitute an invitation or an offer to invest in Sair-O-Siyahat Pvt. Limited or any of its Affiliates. Further, nothing contained in Sair-O-Siyahat should be construed as a recommendation to use any product, process, equipment or formulation, in conflict with any patent, or otherwise and Sair-O-Siyahat Pvt. Limited makes no representation or warranty, express or implied that, the use thereof will not infringe any patent, or otherwise.
            </p>
            <p style="margin-bottom:12px;color:#949494;">
                Sair-O-Siyahat is controlled and operated from Pakistan and Sair-O-Siyahat Pvt. Limited makes no representation that the materials are appropriate or will be available for use in other parts of the World. If you use Sair-O-Siyahat from outside Pakistan, you are entirely responsible for compliance with all applicable local laws as well as international conventions and treaties.
            </p>
            <p style="margin-bottom:12px;color:#949494;">
                Sair-O-Siyahat Pvt. Limited offers products, Services, content and various other functionalities through Sair-O-Siyahat and its affiliate sites to specific regions worldwide. The Services offered in one region may differ from those in other regions due to availability, local or regional laws or legal impediments and other considerations/factors. Sair-O-Siyahat Pvt. Limited does not make any warranty or representation that a User in one region may also obtain the Services as provided in another region. Information on Sair-O-Siyahat may contain references to products, programs or Services that are not announced or available in your country. Such references do not in any manner imply that Sair-O-Siyahat Pvt. Limited intends to announce, launch or provide such products, programs or Services in your country.
            </p>
        </div>
    </div>
</div>


