@{
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

<div class="wrapper">
    <div class="container" style="margin-top: 38px;">
        <div class="content">
            <h1 style="text-align:center;padding-bottom: 0px;font-weight: bold;">
                About Us
            </h1>
            <hr style="margin-top: 0px;" />
            <p style="color:#949494;">
                Sair-O-Siahat is an upcoming name in the tourism industry of Pakistan which will be launched in 2019.
                It will be first of its kind of portal in Pakistan.  It is an initiative taken by group of professionals with years of experience & market research on their back.
                Main objective for entering into this business is to bridge the gap between customers’ expectations & making all options available on single click.
                Company believes in using latest technologies & extensive training of employees to meet the ever changing market demands & building long term relationship with clients.
                Sair-O-Siahat encourages & promises a secure & ethical work place for its employees. In fact such a workplace is provided
                to the individuals working here where they can put forward their ideas which can help in expanding our organization.
                <br /><br />
                This website, <a style="color: blue;cursor: pointer;" href=""><u style="text-transform: lowercase;">www.Sair-O-Siyahat.com</u></a>
                (hereinafter referred to as "Sair-O-Siyahat") is owned, hosted and operated by
                Sair-O-Siyahat (Pvt.) Ltd, a private limited company registered with Securities & Exchange Commission of Pakistan under
                the Companies Act, 2017 and having its registered office at Office #51 , Block C, Bank Square, Model Town, Lahore.
                These terms and conditions regulating use of these Services constitute a legally binding agreement between Sair-O-Siyahat
                and the User (the “Agreement”).
            </p>
        </div>
    </div>
</div>
<script>
    $('#tab_aboutUs').addClass("active");
</script>
