@model IEnumerable<SAIR_O_SIYAHAT_2.Models.Ads>
<div class="col-md-2 ads-home-page" style="margin-top:20px;">
    @{
        var count = 0;
    }
    <marquee style="font-size: 59px;font-weight: 700;font-family: TodayShop-Bold;height:100%;" behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();" direction="down">
        @foreach (var item in Model.Take(8))
        {
            {
                count++;
            }
            if (count >= 5)
            {
                <img style="width:100%;height: 120px;margin-bottom:80px;" src="@item.Thumbnail" alt="">
            }
        }
    </marquee>
</div>