@model SAIR_O_SIYAHAT_2.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}





<style>
    .attr-nav {
        display: none;
    }
</style>

<div class="wrapper">
    <!-- Login Form -->
    <div class="site-content" style="">
        <div class="container">
            <div class="row" style="margin-top: 30px;display: flex;justify-content: center;">
                <div class="col-md-6">
                    <div>
                        <h2 style="margin-bottom: 10px;font-family: 'Montserrat', sans-serif;color: #00b8d4;text-align: center;">
                            <strong>Forgot Password</strong>
                        </h2>
                    </div>
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="row" style="margin:0 auto;justify-content:center;">
                            <div class="col-md-7">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label for="exampleInputEmail1" style="font-weight: bold;font-size: 15px;margin-bottom: 5px;display: block;color: #949494;"><strong>UserName</strong></label>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" style="width: 100%;height: 50px;background-color: #00b8d4;border-color: #00b8d4;margin-bottom: 24px;">Send Password Reset Link</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Login Form Ends  -->
</div>
