<div class="fabs">
    <a id="prime" href="@Url.Action("Index","Chat")" class="fab">
        <i class="prime fas fa-comments"></i>
        <span id="chat-badge" style="position: absolute;right: 4px;top: 7px;" class="badge badge-danger ">@ViewBag.unreadCount</span>
    </a>
</div>
