
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>SAIR-O-SIYAHAT</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <!-- <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"> -->
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Site CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/custom.css" rel="stylesheet" /> 
</head>
<body>





    @RenderBody()
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Scripts/jquery.superslides.min.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/inewsticker.js"></script>
    <script src="~/Scripts/bootsnav.js"></script>
    <script src="~/Scripts/images-loded.min.js"></script>
    <script src="~/Scripts/isotope.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/baguetteBox.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script src="~/Scripts/form-validator.min.js"></script>
    <script src="~/Scripts/contact-form-script.js"></script>
    <script src="~/Scripts/custom.js"></script>
</body>
</html>

