
@if (ViewBag.NotRated == "Not Rated")
{
    <h5 style="color: #3e3939;margin-top: 2px;font-size: 14px;margin-bottom: 9px;">@ViewBag.NotRated</h5>
}
else if (ViewBag.Rating == 1)
{
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:grey;" class="fas fa-star "></i>
    <i style="color:grey;" class="fas fa-star "></i>
    <i style="color:grey;" class="fas fa-star "></i>
    <i style="color:grey;" class="fas fa-star "></i>
}
else if (ViewBag.Rating == 2)
{
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:grey;" class="fas fa-star "></i>
    <i style="color:grey;" class="fas fa-star "></i>
    <i style="color:grey;" class="fas fa-star "></i>
}
else if (ViewBag.Rating == 3)
{
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:grey;" class="fas fa-star "></i>
    <i style="color:grey;" class="fas fa-star "></i>
}
else if (ViewBag.Rating == 4)
{
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:grey;" class="fas fa-star "></i>
}
else if (ViewBag.Rating == 5)
{
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:#faca51;" class="fas fa-star "></i>
    <i style="color:#faca51;" class="fas fa-star "></i>
}